<!-- views/charities-show.handlebars -->

<a href="/" >Back to Home</a>


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{charity.charityName}}</h1>
        <h2>Donation Amount: ${{charity.donationAmount}}</h2>
        <p>{{charity.date}}</p>

        <br>
        <!-- Delete button -->
        <p><form method="POST" action="/charities/{{charity._id}}?_method=DELETE">
            <a class="btn btn-secondary" href="/charities/{{charity._id}}/edit">Edit</a>
            <button class="btn btn-danger" type="submit" style="float:right">Delete</button>
        </form></p>

        <hr>

    <!-- Donation form -->
    {{> donation-form}}

    <hr>

    <!-- Show Comments -->
    {{#each donations}}
      {{> donation}}
      <br>
    {{/each}}

    </div>
</div>
